
body{
    margin:0;
    font-family:Arial;
}

/* HEADER */
header{
    background:#d60000;
    color:white;
    text-align:center;
    padding:10px;
}

.logo{
    width:60px;
}

/* NAV */
nav{
    background:#000;
    display:flex;
    justify-content:center;
    gap:15px;
    padding:10px;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
}

/* HERO */
.hero{
    text-align:center;
    padding:30px;
    background:#111;
    color:white;
}

.hero-img{
    width:150px;
    border-radius:50%;
    margin-bottom:10px;
}

/* SECTION */
.section{
    padding:40px;
    text-align:center;
}

.dark{
    background:#222;
    color:white;
}

/* FORM */
form{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-width:300px;
    margin:auto;
}

input, select{
    padding:10px;
}

/* BUTTON */
.btn{
    background:red;
    color:white;
    padding:10px;
    text-decoration:none;
    border:none;
    margin-top:10px;
}

/* GALLERY */
.gallery{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:center;
}

.gallery img{
    width:200px;
    border-radius:10px;
}

/* FOOTER */
footer{
    background:#000;
    color:white;
    text-align:center;
    padding:15px;
}

/* WHATSAPP */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px;
    border-radius:50%;
}
