body{
  margin:0;
  font-family:'Poppins', sans-serif;
  background:#0f172a;
  color:white;
}

.header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#020617;
}

.logo-box{
  display:flex;
  gap:10px;
}

.logo-box img{
  width:50px;
}

.navbar{
  display:flex;
  justify-content:center;
  gap:20px;
  background:#020617;
  padding:10px;
}

.navbar a{
  color:white;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:100px 20px;
  background:linear-gradient(135deg,#000,#1e293b);
}

.section{
  padding:40px;
  text-align:center;
}

input,select{
  padding:10px;
  margin:5px;
  width:250px;
}

.btn{
  padding:10px 15px;
  border:none;
  cursor:pointer;
  color:white;
}

.blue{background:#3b82f6;}
.red{background:#ef4444;}
.green{background:#22c55e;}

#videoList{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}

#videoList div{
  background:#1e293b;
  padding:10px;
  border-radius:10px;
  width:300px;
}

@media(max-width:768px){
  .navbar{
    flex-direction:column;
  }
}
.video-card{
  margin:20px;
  background:#1e293b;
  padding:10px;
  border-radius:10px;
  color:white;
}